.header__lang-link {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s ease;
}

.header__lang-link:hover {
  opacity: .8;
  transition: opacity 1s ease;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
