@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
       url(../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2"),
       url(../fonts/Inter-SemiBold.woff) format("woff");
}

.page {
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
