@import url(./__list/photo-grid__list.css);
@import url(./__item/photo-grid__item.css);
@import url(./__image/photo-grid__image.css);

.photo-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
