@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
       url(../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2"),
       url(../fonts/Inter-SemiBold.woff) format("woff");
}

.page {
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
