.cover__subtitle {
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 270px;
  }
}
