@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  width: calc(100% - 96px);
  max-width: 1280px;
  min-height: 52px;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
}
