.place__paragraph {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
