@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
  width: 92.5%;
  max-width: 984px;
  padding: 92px 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 0;
  }
}
