.cover__overlay {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity 1s ease;
}

.cover__overlay:hover {
  opacity: .8;
  transition: opacity 1s ease;
}

