.lead__caption {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 3.725%;
  }
}
