@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  padding-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(-webkit-min-content, -webkit-max-content) 48px minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-rows: minmax(min-content, max-content) 48px minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-gap: 48px 40px;
}

.place > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.place > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.place > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.place > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-column-gap: 28px;
    padding-bottom: 72px;
    -ms-grid-columns: fit-content(340px) 28px fit-content(340px);
    grid-template-columns: repeat(2, fit-content(340px));
  }
}

@media screen and (max-width: 627px) {
  .place {
    -ms-grid-rows: minmax(-webkit-min-content, -webkit-max-content) 32px minmax(-webkit-min-content, -webkit-max-content) 32px minmax(-webkit-min-content, -webkit-max-content);
    -ms-grid-rows: minmax(min-content, max-content) 32px minmax(min-content, max-content) 32px minmax(min-content, max-content);
    grid-template-rows: repeat(3, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    -ms-grid-columns: -webkit-min-content;
    -ms-grid-columns: min-content;
    grid-template-columns: -webkit-minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    padding-bottom: 48px;
    grid-gap: 32px;
  }

  .place > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .place > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .place > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
