@import url(./__copyright/footer__copyright.css);

.footer {
  width: 92.5%;
  max-width: 1184px;
  padding: 92px 0 24px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
  }
}
